# GitHub Repository URL
REPO_URL=https://github.com/ltvhcung001/session7-md5

# GitHub Runner Registration Token
# (Lấy từ GitHub Repo -> Settings -> Actions -> Runners -> New self-hosted runner)
RUNNER_TOKEN=YOUR_GITHUB_RUNNER_TOKEN_HERE

# Runner Configuration
RUNNER_NAME=quickbite-linux-runner
RUNNER_LABELS=self-hosted,linux,x64

# Docker Group ID on Host (Lấy bằng lệnh: getent group docker | cut -d: -f3)
DOCKER_GID=973
